.header{
    width:100%;
    height:25px;
    padding-bottom:7px;
    top:0;
    left:0;
    background: lightseagreen;
}

.logo{
    top:20%;
    float:left;
    margin-left:123px;
}

.small-wrap{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}


.language{
    float:left;
    margin-top:10px;
}

.language-item{
    float:left;
    margin-right:20px;
}

.language2{
    float:right;
    margin-top:10px;
}

.language2-item{
    float:right;
    margin-left:20px;
}


.blind{
    display: none;
}

















.clearfix{
    content:"";
    display: block;
    clear:both;
}

.clearfix:after{
    content:"";
    display:block;
    clear:both;
}